* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Red Hat Display;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("./images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
}

body .attribution {
  margin-top: 20px;
  font-weight: 700;
  font-size: small;
}

body .attribution a {
  text-decoration: none;
  color: hsl(245, 75%, 52%);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 400px;
  background-color: white;
  box-shadow: 10px 10px 20px hsla(223, 47%, 23%, 20%);
}

main .image-hero img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

main .content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main .content h1 {
  font-weight: 900;
  margin-bottom: 10px;
  margin-top: 20px;
  color: hsl(223, 47%, 23%);
}

main .content p {
  color: hsl(224, 23%, 55%);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

main .content .box {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: hsl(225, 100%, 98%);
  padding: 20px;
  border-radius: 10px;
}

main .content .box img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

main .content .box .annual-plan {
  text-align: left;
}

main .content .box .annual-plan h2 {
  font-weight: 900;
  font-size: medium;
  color: hsl(223, 47%, 23%);
}

main .content .box .annual-plan span {
  color: hsl(224, 23%, 55%);
  font-weight: 500;
  font-size: medium;
}

main .content .box a {
  margin-left: 70px;
  font-weight: 700;
  color: hsl(245, 75%, 52%);
  font-size: medium;
}

main .content #payment {
  margin-top: 20px;
  text-align: center;
  background-color: hsl(245, 75%, 52%);
  color: white;
  padding: 15px 0px;
  font-weight: 700;
  font-size: small;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 10px 15px hsla(245, 75%, 52%, 30%);
}

main .content #cancel {
  margin: 15px 0px 30px;
  font-weight: 700;
  font-size: small;
  color: hsl(225, 18%, 42%);
  cursor: pointer;
}
